table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: lowercase;
}
.table-calendar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
    font-size: 12px;
}
.table-calendar td {
    border: 1px dashed #0c0c0c2a;
}
.table-calendar {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom:  1px solid #000;
}

.table-calendar th{
    background-color: black;
    color: white;
    font-weight: bold;
}
.table-calendar > caption{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px dashed #0c0c0c2a;
}

#container{
    overflow-x: auto;
}
